body {
	background-image: url('materials/gameboard.png');
    background-size: cover; 
	margin-top: 1.0em;
	/*background-color: #fff;*/
	/*font-family: "Helvetica,Arial,FreeSans";*/
	/*color: #000000;*/
}

h1 {
	text-align: center;
	color: tomato;
	font-family: 'Pacifico', cursive;
	font-size: 42px;
	margin-top: -5px;
}

#game-rules {
	font-family: 'Poiret One', cursive;
	text-align: left;
	color: white;
	font-size: 13px;
	width: 30%;
	margin-top: -30px;
	margin-left: 10px;
}

/*refactor using position: absolute, cf .dealer-cards */
.game-status {
	font-family: 'Shadows Into Light', cursive;
	color: white;
	font-weight: bold;
	font-size: 25px;
	width: 250px;
	margin-left: 75%;
	margin-top: -17%;
}

#player-funds {
	background-color: green;
	border: 2px solid grey;
	border-radius: 13px;
	margin-bottom: 5px
}

#player-bet {
	background-color: green;
	border: 2px solid grey;
	border-radius: 13px;
}

.dealer-cards {
	position: absolute;
	right: 50%;
	top: 40%;
	width: 100px;
	height: 125px;
	color: black;
}

#dealer-first {
	background-color: white;
	border: 1px solid black;
	height: 125px;
	display: inline-block;
}

#dealer-second {
	background-color: white;
	border: 1px solid black;
	height: 125px;
	display: inline-block;
}

.player-cards {
	position: absolute;
	right: 65%;
	top: 75%;
	width: 100px;
	height: 125px;
	color: black;
}

#player-first {
	background-color: white;
	border: 1px solid black;
	height: 125px;
	display: inline-block;
}

#player-second {
	background-color: white;
	border: 1px solid black;
	height: 125px;
	display: inline-block;
}

.game-setup {
	position: absolute;
	right: 55%;
	top: 15%;
	width: 100px;
	height: 125px;
	color: black;
}

input {
	margin-bottom: 5px;
	font-style: italic;
}

.game-play {
	position: absolute;
	right: 40%;
	top: 15%;
	width: 100px;
	height: 125px;
	color: black;
}

.game-options {
	position: absolute;
	top: 75%;
	width: 100px;
	height: 125px;
	color: black;
}

button {
	border-radius: 45%;
}

h2 { 
	font-size: 1.5em; 
	color: white; 
}
        
hr { 
	border: 0; 
	width: 80%; 
	border-bottom: 1px solid #aaa
}

h2 {
	clear:both;
}
    
#error {
	display:none;
	color:#f00;
	border:1px solid #f60;
	padding:5px;
	margin:5px;
}


/*/////////////////////////////////////*/

/*below is associated with manual deck builder*/
/*.card-deck{
    width:40px;
    height:60px;
    border:1px solid #151718;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
    cursor:pointer;
}

span.number, span.suit{
    width:100%;
    display:block;
    text-align:center;
    padding-top:8px;
}*/